#application-custmateasapflightzflight-display-component---login--pilot-inner {
   height: 6rem;
   min-width: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

#application-custmateasapflightzflight-display-component---login--pilot-content {
   font-size: 1.4rem;
   margin: 0;
   padding: 0;
   text-align: center;
   position: relative;
   border-radius: 0.25rem;
   text-shadow: none;
}

#application-custmateasapflightzflight-display-component---login--traveller-inner {
   height: 6rem;
   min-width: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

#application-custmateasapflightzflight-display-component---login--traveller-content {
   font-size: 1.4rem;
   margin: 0;
   padding: 0;
   text-align: center;
   position: relative;
   border-radius: 0.25rem;
   text-shadow: none;
}

#__page0-title-inner{
   font-size: 2rem;
}

#__page0-intHeader{
   height: 5rem;
}

#__page0-intHeader-BarPH{
   height: 4.5rem;
   padding-top: 1.25rem;
   padding-bottom: 0.25rem;
}

#__button0{
   margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#application-custmateasapflightzflight-display-component---login--pilotInput{
   margin: 0;
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#application-custmateasapflightzflight-display-component---login--pilotLabel{
      margin: 0;
      position: absolute;
      top: 30%;
      left: 20%;
      transform: translate(-50%, -50%);
}

#application-custmateasapflightzflight-display-component---login--passwordInput{
   margin: 0;
   position: absolute;
   top: 70%;
   left: 55%;
   transform: translate(-50%, -50%); 
}

#application-custmateasapflightzflight-display-component---login--passwordLabel{
   margin: 0;
   position: absolute;
   top: 70%;
   left: 23%;
   transform: translate(-50%, -50%);
}

#application-custmateasapflightzflight-display-component---login--flexLogin{
   height: -webkit-fill-available;
}

#application-custmateasapflightzflight-display-component---flightReserv--flexFlightReserv{
   height: -webkit-fill-available;
   margin-top: 5rem;
}

#application-custmateasapflightzflight-display-component---flightReserv--cityFromLabel-text{
   top: 70%;  
}

#application-custmateasapflightzflight-display-component---form--formVbox{
   margin-top: 4rem;
}